<form method="post" action="{{ path('backend_impress_delete', {'id': impress.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ impress.id) }}">
    <button class="btn">Delete</button>
</form>
