{% extends 'base.html.twig' %}

{% block title %}Edit Impress{% endblock %}

{% block body %}
    <h1>Edit Impress</h1>

    {{ include('backend/impress/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backend_impress_index') }}">back to list</a>

    {{ include('backend/impress/_delete_form.html.twig') }}
{% endblock %}
