{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('backend_impress_index') }}">Impress</a></li>
        <li><a href="{{ path('user') }}">User</a></li>
    </ul>
{% endblock %}
